@use "flexboxgrid";
@use "reset";
@use "variables";
@use "layout";
@use "content";
@use "github";
@use "medium";

body {
	background: var( --background-color );
	color: var( --text-color );
}	

a {
	color: rgb(187, 115, 28);

	&:hover, &:focus {
		color: rgb(187, 115, 28);
	}
}