---
import BlogLayout from "@layouts/BlogLayout";
import { published } from "@data/post"
import PostInfo from "@components/blog/PostInfo";

export async function getStaticPaths() {
	const markdownFiles = await Astro.glob('../content/**/*.md');
	const posts = published( markdownFiles );

	return posts.map((post) => {
		return {
			params: { post: post.slug },
			props: { post }
		};
	})
}

const { post: { Content }, post } = Astro.props;
---
<BlogLayout title={post.title}>
	<div class="post-header container">
		<h1 class="post-title">{post.title}</h1>
		<PostInfo post={post} showTags={true} />
	</div>
	<div class="content container">
		<Content />
	</div>
</BlogLayout>


<style>
	.post-header {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.post-date {
		/* font-size: 0.75rem; */
	}

	.content {
		margin-bottom: 40px;
	}
</style>