---

---

<div class="logo">
	<a href="/"><span class="arrow">&#62;</span> o. brignoni <span class="logo__cursor"></span></a>
</div>

<style>
	a {
		font-size: 1.25em;
		font-weight: 700;
		color: var( --text-color-alt );
		text-decoration: none !important;
	}

	.arrow {
		position: relative;
		top: 1px;
	}

	.logo {
		position: relative;
		top: -2px;
	}

	.logo__cursor {
		position: relative;
		top: 1px;
		width: 8px;
		height: 18px;
		background: #b7b7b7;
		display: inline-block;
		margin-left: 5px;
		border-radius: 1px;
		-webkit-animation: cursor 1s infinite;
		animation: cursor 1s infinite;
	}

	@keyframes cursor {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
</style>