---
import { BsLinkedin, BsGithub, BsRss } from 'react-icons/bs';


---

<div class="social">
    <slot />
    <a target="_linkedin" href="https://linkedin.com/in/obrignoni"><BsLinkedin /></a>
    <a target="_github" href="https://github.com/obrignoni"><BsGithub /></a>
    <!-- <a target="_rss" href="/rss.xml"><BsRss /></a> -->
</div>

<style>
    a { 
        font-weight: bold;
        color: var( --text-color-alt );
        text-decoration: none;
    }
    .social a {
        text-align: right;
        padding-left: 10px;
        display: inline-block;
    }

    a {
        position: relative;
		top: 3px;
		color: #777;
		padding: 0px 5px;
		font-size: 16px;
	}

	a:hover {
		color: black;
	}
</style>